:root {
  --main-font: Roboto, Sans-serif;
  --main-header-font: Libre Baskerville;
  --main-color: /*#02BFBF;*/ #5dff63;
  --main-font-2: Inter;
  --main-header-fontSize: 75px;
  --step-header-fontSize: 30px;
  --step-paragraph-fontSize: 15px;
  --nav-bar-fontSize: 20px;
  --actionbanner-button-fontSize: 20px;
  --actionbanner-header-fontSize: 43px;
  --actionbanner-paragraph-fontSize: 20px;
  --main-section-interval: 50px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* @keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */

