:root {
  --main-font: 'DM Mono',
  --main-header-font: 'DM Mono',
  --main-color: /*#02BFBF;*/ #5dff63;
  --main-font-2: Inter;
  --main-header-fontSize: 75px;
  --step-header-fontSize: 30px;
  --step-paragraph-fontSize: 15px;
  --nav-bar-fontSize: 20px;
  --actionbanner-button-fontSize: 20px;
  --actionbanner-header-fontSize: 43px;
  --actionbanner-paragraph-fontSize: 20px;
  --main-section-interval: 50px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'DM Mono'
}

@font-face {
  font-family: "DM Mono";
  src: url("/static/fonts/DMMono-Regular.ttf");
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("/static/fonts/LibreBaskerville-Bold.ttf");
}

#vaultDetailNFTBox::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
 
#vaultDetailNFTBox::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,.1);
    border-radius: 3px;
}

#vaultDetailNFTBox::-webkit-scrollbar-thumb:hover{
    background: rgba(255,255,255,.2);
}

.MuiSlider-colorPrimary :nth-child(3){
  
}

.MuiSlider-colorPrimary :nth-child(7){
  
}



